*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,100,0.5)), url(photo-1484417894907-623942c8ee29.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    padding: 10px;
    border-radius: 50px;
}
nav ul li a:hover{
    background: black;
    color: white;
}
a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    font-weight: 600;
}
p{
    font-size: 30px;
    color: white;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px ;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.counter-section{
    margin: 10% auto;
    color: black;
}
.icon-box{
margin: auto;
}
.icon-box .fa{
    font-size: 60px;
    margin: 25px auto;
    color: black;
}
.text-1{
    font-size: 20px;
    font-weight: 600;
}
.counter-box .counter{
font-size: 80px;
font-weight: 500;
}
.col-2-1{
    flex-basis: 30%;
    min-width: 300px;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 h1{

    font-size: 50px;
    line-height: 60px;
    margin: 55px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color:#fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius:30px ;
    transition: 0.5s ;
}
.btn:hover{
    background: black;
}
.services{
    margin: 30px 0;
}
.mySlides {display: none;}
.mySlides img {
    vertical-align: middle;
    height: 50vh;
}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color:black;
  font-size: 30px;
  font-weight: 600;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    padding: 10px;
}
.col-3 img{
     width: 100%;
}
.col-4{
    flex-basis: 27%;
    padding: 10px;
    min-width: 200px;
    margin: 30px;
    transition: transform 0.5s;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4 img{
    width: 100%;
    height: 20vh;
}
.title{
    text-align: center;
    margin: 20px auto 50px;
    position: relative;
    line-height: 60px;
    color: #555;
    font-size: 40px;
    font-weight: 600;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font: weight 200;
    font-size: 20px;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: orangered;
}
.col-4:hover{
    transform: translateY(-8px);
}
.offer{
    background: radial-gradient(white,gray);
    margin-top: 80px;
    padding: 30px 0;
}
/*------testimonial-------*/
.testimonial{
    padding-top: 100px;
    margin-bottom: 50px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0, 0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 150px;
    margin-top: 20px;

}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{

    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/*----------Brands-------*/
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 .img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
/*----------Footer----------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 200px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
    font-size: 20px;

}
.footer-col-2{
    flex: 1;
    text-align: center;

}
.footer-col-2 img{
    width: 200px;
    margin-bottom: 20px;

}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
.footer-col-3 > ul > li > img{
    margin: 10px;
    width: 40px;
}
.footer-col-3 > ul > li > a{
    color: white;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.cprit{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/*-------media query for menu ---------*/
@media only screen and (max-width:800px){
    nav  ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display:block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    nav ul li a{
        color: #fff;       
    }
    .menu-icon{
    display: block;
    cursor: pointer;
    }
}
/*---------Media query for less than 600px---------*/
@media only screen and(max-width: 600px){

    .row{
        text-align: center;

    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }

}